<form [formGroup]="myform" (ngSubmit)="SaveUser()">
    <h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>User Name</mat-label>
            <input formControlName="name" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>User Email</mat-label>
            <input formControlName="email" matInput>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
        <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
    </div>
    </form>
    
