<form [formGroup]="myform" (ngSubmit)="SavePolicy()">
<h1 mat-dialog-title>{{inputdata.title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Policy Number</mat-label>
        <input formControlName="policyNumber" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Insurance Amount</mat-label>
        <input formControlName="insuranceAmount" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Start Date</mat-label>
        <!-- <input formControlName="startDate" matInput> -->
        <input matInput formControlName="startDate" [matDatepicker]="picker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>End Date</mat-label>
        <!-- <input formControlName="endDate" matInput> -->
        <input matInput formControlName="endDate" [matDatepicker]="picker1">
        <!-- <input matStartDate placeholder="Start date"> -->
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary">Save</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
</div>
</form>
